{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended"],
  "parser": "",
  "parserOptions": {
    "project": "./jsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "plugins": [],
  "rules": {
    // Add specific rules here with your desired configurations
  }
}
